$!init
$!define

##设置文件保存路径
#save($serviceImplClassSavePath, $serviceImplClassName, ".java")

##使用宏定义设置包后缀
#setPackageSuffix($!serviceImplPackage)

import $!{tableInfo.savePackageName}.$!entityPackage.$!{entityClassName};
import $!{tableInfo.savePackageName}.$!paramsPackage.$!{paramsClassName};
import $!{tableInfo.savePackageName}.$!{daoPackage}.$!{daoClassName};
import $!{tableInfo.savePackageName}.$!{servicePackage}.$!{serviceClassName};
import org.springframework.stereotype.Service;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.transaction.annotation.Transactional;
import java.util.List;

/**
 * $!{tableInfo.comment}($!{entityClassName})表服务实现类
 *
 * @author $!author
 * @since $!time.currTime()
 */
@Service
public class $!{serviceImplClassName} implements $!{serviceClassName} {
    @Autowired
    private $!{daoClassName} $!{tool.firstLowerCase($!{daoClassName})};

    @Override
    @Transactional(rollbackFor = Exception.class)
    public $!{entityClassName} insert($!{entityClassName} $!tool.firstLowerCase($!{entityClassName})) {
        int affectedtRows = $!{tool.firstLowerCase($!{daoClassName})}.insert($!tool.firstLowerCase($!{entityClassName}));
        return $!tool.firstLowerCase($!{entityClassName});
    }

    @Override
    @Transactional(rollbackFor = Exception.class)
    public $!{entityClassName} insertSelective($!{entityClassName} $!tool.firstLowerCase($!{entityClassName})) {
        int affectedtRows = $!{tool.firstLowerCase($!{daoClassName})}.insertSelective($!tool.firstLowerCase($!{entityClassName}));
        return $!tool.firstLowerCase($!{entityClassName});
    }

    @Override
    @Transactional(rollbackFor = Exception.class)
    public int deleteByParams($!{paramsClassName} params) {
        int affectedtRows = $!{tool.firstLowerCase($!{daoClassName})}.deleteByParams(params);
        return affectedtRows;
    }

    @Override
    @Transactional(rollbackFor = Exception.class)
    public int update($!{entityClassName} $!tool.firstLowerCase($!{entityClassName})) {
        int affectedtRows = $!{tool.firstLowerCase($!{daoClassName})}.update($!tool.firstLowerCase($!{entityClassName}));
        return affectedtRows;
    }

    @Override
    @Transactional(rollbackFor = Exception.class)
    public int updateSelective($!{entityClassName} $!tool.firstLowerCase($!{entityClassName})) {
        int affectedtRows = $!{tool.firstLowerCase($!{daoClassName})}.updateSelective($!tool.firstLowerCase($!{entityClassName}));
        return affectedtRows;
    }

    @Override
    @Transactional(rollbackFor = Exception.class)
    public int updateByParams($!{entityClassName} $!{tool.firstLowerCase($!{entityClassName})}, $!paramsClassName params, boolean selective) {
        int affectedtRows = $!{tool.firstLowerCase($!{daoClassName})}.updateByParams($!{tool.firstLowerCase($!{entityClassName})}, params, selective);
        return affectedtRows;
    }
#if(!$tableInfo.pkColumn.isEmpty())

    @Override
    public $entityClassName queryByPk(#foreach($column in $!{tableInfo.pkColumn})$!{tool.getClsNameByFullName($!{column.type})} $!{column.name}#if($velocityHasNext), #end#end) {
        $entityClassName $!{tool.firstLowerCase($entityClassName)} = $!{tool.firstLowerCase($!{daoClassName})}.queryByPk(#foreach($column in $!{tableInfo.pkColumn})$!{column.name}#if($velocityHasNext), #end#end);
        return $!{tool.firstLowerCase($entityClassName)};
    }
#end

    @Override
    public List<$!{entityClassName}> queryListByParams($!{paramsClassName} $!tool.firstLowerCase($!{paramsClassName})) {
        List<$!{entityClassName}> $!{tool.firstLowerCase($entityClassName)}List = this.$!{tool.firstLowerCase($!{daoClassName})}.queryListByParams($!tool.firstLowerCase($!{paramsClassName}));
        return $!{tool.firstLowerCase($entityClassName)}List;
    }

}